<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- 
    flask가 지원하는 기능
   -->
  {%  if name == '도연'   %}
  <h1> 도연님 안녕하세요? </h1>
  {%  if name == '미정'   %}
  <h1> 미정님 안녕하세요? </h1>
  {% else %}
  <h1>{{ age}} 살 {{ name }} 님 {{ m }} </h1>
  {% endif %}


  <ul>
    {% for number in numbers %}
      <li>{{ number }}</li>
    {% endfor %}
  </ul>
</body>
</html>