<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="static/css/bege_intro.css">
  <!-- font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
  <title>당신의 채식관심도는?!</title>
 
</head>
<body>
  
<div class="intro">
  <div class="t-center">
    <img class="w-80" style="opacity : 0.5;" src="static\images\채식.jpg" alt="">
  </div>

  <div class="over-img t-center">
    <div class="bgc-b">
      <p class="h1" style="font-family: 'Poor Story', cursive;">음식을 보고 채식인 것 같으면 <strong>YES</strong> 버튼을 눌러주세요!</p>
      <p class="h1" style="font-family: 'Poor Story', cursive;">채식에 대한 관심도를 측정하는 테스트입니다.</p>
    </div>
    <button type="submit" class="btn btn-success" onclick="location.href='/begeCheck'">시작하기 GOGO!</button>
  </div>
</div>
  
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
