<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="static/css/bege_check.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
  <title>Service</title>
  
</head>
<body onload="showbegeImage(1)">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img id="finishImg" class="w-100">
      </div>
      <div class="col-6">
        <div id="finish"></div>
        <button>주변 채식가게 보러가기</button>
      </div>
    </div> 
   

    
</div>

</div>
  
  <!-- main js -->
  <!-- js를 수정해도 계속 이전 코드로만 작동됨 -> 캐시데이터때문 -> version을 삽입해서 이전 브라우저와 다른것임을 인식? -->
  <!-- version방식은 수정할때마다 바꿔줘야됨 -> crtl+F5누르기,, -->
  <script src="static/js/bege_check.js"></script>
  <!-- Bootstrap JS -->
  <scrip src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></scrip>
</body>
</html>
